name: workflow

on: 
  push: 
    branches: 
      - main

permissions:
  id-token: write
  contents: read

jobs: 
  intergration: 
    name: Continous Integration 
    runs-on: unbuntu-latest 
    steps: 
      - name: Code Checkout 
        uses: actions/checkout@v3

      - name: Lint Code 
        run: echo "Linitng Repository"

      - name: Run Unit test 
        run: echo "Running Unit Test"

  build-and-push-images: 
    name: Continous Delivery
    needs: intergration 
    runs-on: unbuntu-latest
    steps: 
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Install Utilities
        run: |
          sudo apt-get update
          sudo apt-get install -y jq unzip 

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with: 
          context: . 
          push: true
          tags: user/app:latest
